<%- include('partials/headerpartial.ejs') %>


<!--- menu-wrapper div end -->
<div class="clearing"></div>
<div class="border-bottom"></div>
<div class="logo-wrapper">
  <!--<div class="leftshadow"><img src="images/logo-wrap-left.jpg" /></div>-->
  <div class="logo">
    <h1>yuriybelz.com</h1>
  </div>
  <!--<div class="rightshadow"><img src="images/logo-wrap-right.jpg" /></div>-->
</div>
<div class="clearing"></div>
<!--- banner wrapper div end -->
<div class="container">
  <div class="panel-wrapper">
    <div class="content">
      <p>
        <h3>What is this site?</h3><br><br>
        <p>This site is my attempt to make a website from the ground up and learn more about programming in general</p>
        <br>
        The source code for the entire site can be found at:<br>
        <a href="https://github.com/YuriyBelz/personal-website">https://github.com/YuriyBelz/personal-website</a>
        <h3>Who is Yuriy Belz?</h3><br><br>
        <p>I am a recent grad from Pace University Westchester and I am looking ot begin my career in programming and web development</p>
        <br>
        

      </p>
    </div>
  </div>
  <!--- panel wrapper div end -->
</div>
<!--- container div end -->

<%- include('partials/footerpartial.ejs') %>
