<%- include('partials/headerpartial.ejs') %>

<div class="clearing"></div>
<div class="border-bottom"></div>
<div class="logo-wrapper">
  <!--<div class="leftshadow"><img src="images/logo-wrap-left.jpg" /></div>-->
  <div class="logo">
    <h1>Yuriy Belz</h1>
  </div>
  <!--<div class="rightshadow"><img src="images/logo-wrap-right.jpg" /></div>-->
</div>

<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselIndicators" data-slide-to="1"></li>
    <li data-target="#carouselIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="images/index-img-1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="images/index-img-2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="images/index-img-3.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!--- carousel end -->
<div class="clearing"></div>
<div class="container">
  <div class="page-wrapper">
    <div class="primary-content">
      <div class="panel">
        <div class="content">
          <p id="index-description">
            <h4>What is this site?</h4><br>
            <div class='index-content'>



              This site is intended to serve as a full stack type project for me, a recently graduated CS student.
              My main intention for this is to be a blog style website featuring articles about the process I had to go through to get everthing workingon here.
              In the planning stages I was pretty ambitious, I wanted to have the site use a database to save the contents of the individual articles.
              The site would feature a specific page for writing the contents of new article pages as opposed to manually adding the information to the Database or writing a new html page file.
              Eventually I would want the articles to allow for an account system, with it in place my account would be the only one with privledges to make new articles and everyone else's would allow them to write comments at the bottom of article
              pages.
              I even planned for the comments to have some sort of validation system where on the back end before they were written to the database they would check for things like inappropriate language or sql injections,
              if the message didnt pass the check their account would get a strike, with enough strikes their account would no longer be allowed to post new content. To take this a step further I could even implement it so that the disallowed content
              is saved but only seen by the creator.<br>
              Throughout the process I had to learn all about the conventions of running a server, managing a database, and having everything running on a linux server. In my case I wanted to have it running on my own machine, as opposed to sending
              my work to some hosting service, so the site is hosted on a raspberry pi. you probably noticed how
              slowly the site loads, one day I will move this one a newer model of the Pi or even figure out how to cluster together several because I had read about how efficient it can be as a web server in terms of cost to ouput and energy use.<br>
              Another fun feature to figure out and add in the future would be to include Google adsense, the site almost seems a little empty without something filling the space.
              A partial inspiration for the site is the fact that I like taking pictures of the different places that I go to and my mom has told me that I should find a place to post the pictures I take for other people to view, this would
              fulfill another purpose of the site
              being a place to host the pictures I take. Ideally the submissions page would have articles exclusively featuring pictures of some place I went to during the weekend.

              <br>
              <br>
              -Yuriy<br>
              Wednesday July 1st 2020
            </div>
          </p>
        </div>
      </div>
    </div>
    <div class="sidebar">
      <div class="panel">
        <div class="img"><img src="images/index-yuriy.jpg" /></div>
      </div>
    </div>
  </div>
  <!--- container div end -->
  <script language="JavaScript" type="text/javascript" src="scripts/jquery.js"></script>
  <script language="JavaScript" type="text/javascript" src="scripts/bootstrap.min.js"></script>
  <script language="JavaScript" type="text/javascript">
    $(document).ready(function() {
      $('.carousel').carousel({
        interval: 3500
      })
    });
  </script>
  <%- include('partials/footerpartial.ejs') %>
